{% load static %}
{% load partials %}
  
{% partialdef avatar %}

  <div class="{{ size }} bg-surface-3 rounded-full shadow-md relative">
    <div 
      class="flex flex-col items-center justify-center {{ size }} overflow-hidden bg-surface-3 rounded-full relative"
      {% if action %}data-action="{{ action }}"{% endif %}
      {% if target %}data-target="{{ target }}"{% endif %}
      {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
      {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
      {% if hx_swap %}hx-swap="{{ hx_swap }}"{% endif %}
      {% if hx_trigger %}hx-trigger="{{ hx_trigger }}"{% endif %}
    >
      {% if user_img %}
        <img src="{{ user_img }}" alt="Foto de perfil de {{ request.user.username }}" class="w-full h-full object-cover">
      {% else %}
        <div class="h-full w-full flex items-center justify-center text-fg font-display font-bold text-[1.5em]"> {{ initials }} </div>
      {% endif %}
    </div>
    {% if action %}
      <div class="absolute z-50 bottom-0.5 right-0.5 w-6 h-6 rounded-full bg-primary-500 text-neutral-900 flex items-center justify-center cursor-pointer">
        <svg class="h-4 w-4">
          <use href="{% static 'sprite.svg' %}#{{ action_icon }}"/>
        </svg>
      </div>
    {% endif %}

  </div>

{% endpartialdef %}