{% load static %}
{% load partials %}
  
{% partialdef navbar %}

<nav class="flex-1 w-1/2 h-auto p-0">
  <ul class="flex w-full h-auto py-2 px-1 gap-1 justify-center items-center">
    <li class="px-3 text-neutral-100 transition-all duration-200 hover:text-neutral-200 active:text-neutral-50 active:-scale-0.9"><a href="#">Docs</a></li>
    <li class="px-3 text-neutral-100 inverted transition-all duration-200 hover:text-neutral-200 active:text-neutral-50 active:-scale-0.9"><a href="#">FAQ</a></li>
  </ul>
</nav>

{% endpartialdef %}