{% load static %}
{% load partials %}

{% partialdef user_menu %}
  <div id="{{ popover_id|default:'user-menu' }}"
    class="popover card p-2 bg-surface-1"
    data-open="false"
    role="menu"
    aria-label="Menú de usuario">
    <!-- Header con avatar, nombre y rol -->
    <div class="popover-header">
      {% include "components/avatars.html#avatar" with size='12' initials=initials user_img=user_img %}
      <span class="popover-username">{{ username|default:'UserName' }}</span>
      <span class="popover-role">{{ role|default:'User Roll' }}</span>
    </div>

    <!-- Opciones -->
    <nav role="none">
      <a href="#">
        {% include 'components/buttons.html#icon_text_button' with func_type='button' type='btn-icon-text-menu' role='menuitem' icon_size='4' icon_name='icon-settings-fill' text='Configuración' %}
      </a>

      {% include 'components/buttons.html#icon_text_button' with func_type='button' type='btn-icon-text-menu' role='menuitem' icon_size='4' icon_name='icon-moon-regular' action='toggleTheme' text='Cambiar Tema' %}

      <a href="{% url 'landing' %}">
        {% include 'components/buttons.html#icon_text_button' with func_type='button' type='btn-icon-text-menu-danger' role='menuitem' icon_size='4' icon_name='icon-logout-fill' text='Cerrar Sesión' %}
      </a>
    </nav>
  </div>
{% endpartialdef %}

{% partialdef row_actions %}
  <div id="actions-{{ id }}"
    class="popover card p-2 bg-surface-1"    
    data-open="false"
    role="menu"
    aria-label="Menú de usuario">
      <nav role="none">
        {% include 'components/buttons.html#icon_text_button' with func_type='button' type='btn-icon-text-menu' role='menuitem' icon_size='4' icon_name='icon-pencil-fill' text='Editar'  action='openModal' target='modal-edit' hx_get=edit_url hx_target="#modal-edit-content" hx_swap="innerHTML" %}
        {% include 'components/buttons.html#icon_text_button' with func_type='button' type='btn-icon-text-menu-danger' role='menuitem' icon_size='4' icon_name='icon-trash-fill' text='Eliminar'  action='openModal' target='modal-delete' hx_get=delete_url hx_target="#modal-delete-content" hx_swap="innerHTML" %}
      </nav>
  </div>
{% endpartialdef %}

{% partialdef bottombar_popover %}
  <!-- Popover -->
  <div id="bottombar-more"
    class="bottombar-more-popover card p-0 bg-surface-1"
    data-open="false"
    role="menu">
    <div class="w-full max-w-sm px-2 py-1 grid grid-cols-3">
      {% for group_item in item.group %}

        <a href="{% url group_item.url %}" class="bottombar-item my-4 {% if group_item.is_active %}active{% endif %}" data-action="bottombarItem">
          <svg aria-hidden="true"><use href="{% static 'sprite.svg' %}#{{ group_item.icon }}"/></svg>
          <span>{{ group_item.label }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endpartialdef %}