{% load static %}
{% load partials %}
  
{% partialdef sidebar %}
  <div class="card w-auto h-full flex flex-col justify-center items-between gap-8 p-0 py-3">
    <div class="w-auto flex overflow-hidden flex-nowrap items-center gap-3 rounded-full px-2 py-1 mx-1">
      {% include "components/buttons.html#icon_button" with func_type="button " type='btn-icon-ghost-neutral' size='5' icon_name='icon-bars-fill' action='collapseSidebar' target=name %}
    </div>
    <div class="w-auto flex-1 flex flex-nowrap flex-col items-start justify-start gap-2 overflow-hidden px-2">
      {% for item in menu_sidebar_items %}
        {% if item.group %}
          {% include "components/sidebar_item.html#sidebar_accordion_item" with label=item.label icon_name=item.icon %}
        {% else %}
          {% include "components/sidebar_item.html#sidebar_item" with id=item.id url=item.url icon_name=item.icon label=item.label is_active=item.is_active %}
        {% endif %}
      {% empty %}
        <p class="text-fg-muted text-xs px-3">Sin menú</p>
      {% endfor %}
    </div>
    <div class="w-full flex overflow-hidden flex-nowrap items-center gap-3 rounded-full px-2 py-1 mx-1">
      {% include "components/buttons.html#icon_button" with type='btn-icon-ghost-neutral' size='5' icon_name='icon-faq-circle-fill' %}
    </div>

  </div>

{% endpartialdef %}