{% load static %}
{% load partials %}

{% partialdef sidebar_item %}  
  {% with link_class=is_active|yesno:"sidebar-item bg-primary-theme/15,sidebar-item"  text_class=is_active|yesno:"text-fg,text-fg-body" icon_params=is_active|yesno:"text-fg,text-fg-body" %}
    <a href="{% url url %}" class="{{ link_class }}">      
      {% include "components/buttons.html#icon_button" with x_params=icon_params     type='btn-icon-ghost-neutral' size='5' icon_name=icon_name %}
      <div class="{{ text_class }} align-start font-medium font-sans whitespace-nowrap">
        {{ label }}
      </div>
    </a>
  {% endwith %}

{% endpartialdef %}
