{% extends '../base.html' %}
{% load static %}

{% block content %}
  <div class="grid grid-cols-[auto_1fr] grid-rows-[auto_1fr] h-screen w-screen p-3">
    <header class="col-span-2 h-14">

    </header>
    <aside class="transition-all duration-300 w-60 data-[collapsed=true]:w-16" data-colapsed="false" id="sidebar">
      {% include "components/sidebar.html#sidebar" with name="sidebar" %}
    </aside>
    <main class="overflow-y-auto p-3">
      {% block view %}
      {% endblock %}
    </main>
  </div>
{% endblock %}