{% load 'partials' %}
{% load static %}

{% partialdef login %}
  <div class="w-full flex items-center justify-center min-h-dvh px-5 md:px-20 max-w-screen relative overflow-hidden">
    <div class="card p-0 bg-surface-1/90 w-6/7 h-5/7 md:w-15/19 md:h-14/19 flex">
      <div class="hidden md:block h-full w-3/5 p-3 border-r border-fg-body overflow-hidden relative rounded-s-xl">
        <img src="{% static 'images/login_image.jpg' %}" alt="" class="absolute object-cover object-center w-full brightness-70 top-0 left-0">
      </div>
      <div class="h-full p-4 w-full md:w-2/5">
          <div class="h-full w-full flex flex-col items-center justify-center gap-16">
            <h1 class="font-display text-3xl font-bold text-fg text-center">Iniciar Sesión</h1>
            <form class="flex flex-col gap-15 items-center">
              <div class="flex flex-col gap-8">
                {% include "components/inputs.html#input" with label_bg_color="surface-1" x_params="w-full" type='text' name='username_id' label='Usuario' %}
                {% include "components/inputs.html#input_password" with label_bg_color="surface-1" x_params="w-full" name='password_id' label='Contraseña' icon='icon-open-eye-regular' %}
              </div>
              {% include "components/buttons.html#button" with func_type="submit" x_params="w-1/2" type='btn-primary' text='Ingresar' %}
            </form>
          </div>
      </div>
    </div>
    <!-- <div class="absolute flex bottom-1 right-1 w-6/10 h-auto translate-y-2/19 translate-x-2/19 z-10 -scale-x-100">
      <img src="{% static 'images/welcome_page.png' %}" alt="Arbol con raices" class="w-full h-auto brightness-90"/>
    </div> -->
  </div>
  <div class="bg-login">

  </div>
{% endpartialdef %}