{% import 'components/buttons.html' as buttons %}
{% import 'components/avatars.html' as avatars %}

{% macro user_menu(popover_id, user, request) %}
  <div id="{{ popover_id|default('user-menu') }}"
    class="popover card p-2 bg-surface-1"
    data-open="false"
    role="menu"
    aria-label="Menú de usuario">
    <!-- Header con avatar, nombre y rol -->
    <div class="popover-header">
      {{ avatars.avatar(size='18', user=user) }}
      <span class="popover-username">{{ request.user.get_full_name() or request.user.username }}</span>
      <span class="popover-role">@{{ user.username }}</span>
    </div>

    <!-- Opciones -->
    <nav role="none">
      <a href="{{ url('perfil') }}">
        {{ buttons.icon_text_button(func_type='button', type='btn-icon-text-menu', role='menuitem', icon_size='4', icon_name='icon-settings-fill', text='Configuración') }}
      </a>
      {{ buttons.icon_text_button(func_type='button', type='btn-icon-text-menu', role='menuitem', icon_size='4', icon_name='icon-moon-regular', text='Cambiar Tema', action='toggleTheme') }}
      <form method="POST" action="{{ url('logout') }}">
        {{ render_csrf_token(request)|safe }}
        {{ buttons.icon_text_button(func_type='submit', type='btn-icon-text-menu-danger', role='menuitem', icon_size='4', icon_name='icon-logout-fill', text='Cerrar Sesión') }}
      </form>
    </nav>
  </div>
{% endmacro %}

{% macro row_actions(row) %}
  <div id="actions-{{ row.id }}"
    class="popover card p-2 bg-surface-1"    
    data-open="false"
    role="menu"
    aria-label="Menú de usuario">
      <nav role="none">
        {{ buttons.icon_text_button(
          func_type='button', type='btn-icon-text-menu', role='menuitem', 
          icon_size='4', icon_name='icon-pencil-fill', text='Editar', 
          action='openModal', target='modal-edit', hx_get=row.edit_url, 
          hx_target="#modal-edit-content", hx_swap="innerHTML"
          ) }}
        {{ buttons.icon_text_button(
          func_type='button', type='btn-icon-text-menu-danger', role='menuitem',
          icon_size='4', icon_name='icon-trash-fill', text='Eliminar',
          action='openModal', target='modal-delete', hx_get=row.delete_url, 
          hx_target="#modal-delete-content", hx_swap="innerHTML"
          ) }}
      </nav>
  </div>
{% endmacro %}

{% macro nav_menu(user, request) %}
  <div id="nav-menu"
    class="popover card p-2 bg-surface-1"    
    data-open="false"
    role="menu"
    aria-label="Menú de usuario">
      <nav role="none">
        {% if user.is_superuser %}
          <a href="{{ url('lista_usuarios') }}">
            {{ buttons.icon_text_button(func_type='button', type='btn-icon-text-menu', role='menuitem', icon_size='4', icon_name='icon-users-group-regular', text='Usuarios') }}
          </a>
          <a href="{{ url('panel_permisos') }}">
            {{ buttons.icon_text_button(func_type='button', type='btn-icon-text-menu', role='menuitem', icon_size='4', icon_name='icon-shield-regular', text='Permisos') }}
          </a>
          <a href="{{ url('prueba_tecnica') }}">
            {{ buttons.icon_text_button(func_type='button', type='btn-icon-text-menu', role='menuitem', icon_size='4', icon_name='icon-module-regular', text='Pruebas') }}
          </a>
        {% endif %}
        {{ buttons.icon_text_button(func_type='button', type='btn-icon-text-menu', role='menuitem', icon_size='4', icon_name='icon-moon-regular', text='Cambiar Tema', action='toggleTheme') }}
        <form method="POST" action="{{ url('logout') }}">
          {{ render_csrf_token(request)|safe }}
          {{ buttons.icon_text_button(func_type='submit', type='btn-icon-text-menu-danger', role='menuitem', icon_size='4', icon_name='icon-logout-fill', text='Cerrar Sesión') }}
        </form>
      </nav>
  </div>
{% endmacro %}

{% macro bottombar_popover(item) %}
  <!-- Popover -->
  <div id="bottombar-more"
    class="bottombar-more-popover card p-0 bg-surface-1"
    data-open="false"
    role="menu">
    <div class="w-full max-w-sm px-2 py-1 grid grid-cols-3">
      {% for group_item in item.group %}

        <a href="{{ url(group_item.url) }}" class="bottombar-item my-4 {% if group_item.is_active %}active{% endif %}" data-action="bottombarItem">
          <svg aria-hidden="true"><use href="{{ static('sprite.svg') }}#{{ group_item.icon }}"/></svg>
          <span>{{ group_item.label }}</span>
        </a>

      {% endfor %}
    </div>
  </div>
{% endmacro %}