{% load static %}
{% load partials %}
{% load widget_tweaks %}

{% partialdef create_form %}
  <form method="POST" class="grid grid-cols-12 gap-x-6 gap-y-4"
    hx-post="/agrosol/proveedores/crear"
    hx-target="#tabla-prov-body"
    hx-swap="innerHTML"
    hx-on::after-request="if(event.detail.successful) { closeModal('modal-create') }"
    >
    {% csrf_token %}
      {# — Sección: Datos generales — #}
      <div role="group" aria-labelledby="seccion-personal" class="col-span-12 md:col-span-6 grid grid-cols-12 gap-x-6 gap-y-4 border border-fg/15 rounded-xl p-5">          
        <p id="seccion-personal" class="col-span-12 text-sm font-medium text-neutral-500"> Datos generales</p>
        {% include "components/inputs.html#input" with field=form.proveedor x_params="col-span-12" name='proveedor' label='Nombre de Proveedor' type='text' %}
        {% include "components/inputs.html#input" with field=form.direccion x_params="col-span-12" name='direccion' label='Dirección' type='text' %}
        {% include "components/inputs.html#input" with field=form.contacto x_params="col-span-12" name='contacto' label='Contacto' type='text' %}
        {% include "components/inputs.html#input" with field=form.cargo x_params="col-span-12" name='cargo' label='Cargo' type='text' %}
      </div>

      {# — Sección: Contacto — #}
      <div role="group" aria-labelledby="seccion-personal" class="col-span-12 md:col-span-6 grid grid-cols-12 gap-x-6 gap-y-4 border border-fg/15 rounded-xl p-5">          
        <p id="seccion-personal" class="col-span-12 text-sm font-medium text-neutral-500"> Contacto </p>
        {% include "components/inputs.html#input" with field=form.telefono x_params="col-span-12" name='telefono' label='Teléfono' type='text' %}
        {% include "components/inputs.html#input" with field=form.celular x_params="col-span-12" name='celular' label='Celular' type='text' %}
        {% include "components/inputs.html#input" with field=form.email x_params="col-span-12" name='email' label='Email' type='text' %}
      </div>

      {# — Sección: Otros — #}
      <div role="group" aria-labelledby="seccion-personal" class="col-span-12 md:col-span-6 grid grid-cols-12 gap-x-6 gap-y-4 border border-fg/15 rounded-xl p-5">          
        <p id="seccion-personal" class="col-span-12 text-sm font-medium text-neutral-500"> Otros</p>
        {% include "components/inputs.html#input" with field=form.terminos_de_pago x_params="col-span-12" name='terminos-de-pago' label='Términos de Pago' type='text' %}
      </div>
      
      <div class="flex justify-end gap-2 mt-2 col-span-12">
        {% include "components/buttons.html#button" with func_type='button' type='btn-ghost' text='Cancelar' action='closeModal' target='modal-create' %}
        {% include 'components/buttons.html#button' with func_type='submit' type='btn-primary' text='Crear' %}      
      </div>
  </form>
{% endpartialdef %}