{% extends '../layouts/pc_nav.html' %}

{% block view %}
  <section class="w-full h-full flex flex-col gap-2">
    <section class="card tools w-full flex flex-row justify-end p-2">
      {% include "components/buttons.html#button" with func_type='button' type='btn-primary' text='+ Nuevo' x_params='p-1' action='openModal' target='modal-create' hx_get=create_url hx_target="#modal-create-content" hx_swap="innerHTML" hx_trigger="click" %}
    </section>
    {% include "partials/tables.html#table" with table_id='tabla-prov' columns=columns rows=rows with_actions=True current_page=current_page total_pages=total_pages page_range=page_range x_params='w-full flex-1 overflow-x-auto' %}
    {% include "components/modals.html#modal" with modal_id='modal-create' title='Crear Proveedor' size='modal-lg' show_footer=False %}
    {% include "components/modals.html#modal" with modal_id='modal-edit' title='Editar Proveedor' size='modal-lg' show_footer=False %}
    {% include "components/modals.html#modal" with modal_id='modal-delete' title='Eliminar Proveedor' size='modal-md' show_footer=False %}
  </section>
{% endblock %}