{% macro skeleton_default() %}
  <div id="skeleton-default" class="card w-full h-full max-h-full px-4 py-6">
    <div class="flex flex-col gap-3 space-y-4 animate-pulse h-full">
      {% for _ in "range(3)" %}
        <div class="flex flex-1 gap-4">
          <div class="h-6 w-full bg-bg rounded"></div>
          <div class="h-6 w-full bg-bg rounded"></div>
          <div class="h-6 w-full bg-bg rounded"></div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro skeleton_table() %}
  <div id="skeleton-default" class="card w-full h-full max-h-full px-4 py-6">
    <div class="flex flex-col space-y-4 animate-pulse h-full">
      {% for _ in range(9) %}
        <div class="flex flex-1 gap-4">
          <div class="h-full w-40 bg-bg rounded"></div>
          <div class="h-full w-full bg-bg rounded"></div>
          <div class="h-full w-full bg-bg rounded"></div>
          <div class="h-full w-full bg-bg rounded"></div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}